
<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Meaw</title>

</head>

<body>

    <h1>Hello open/close led</h1>

    <form action="/led1on" method="POST">

        <label for="Led1 On"></label><br>

        <input type="submit" value="led1 on">

    </form>

    <form action="/led1off" method="POST">

        <label for="Led1 off"></label><br>

        <input type="submit" value="led1 off">

    </form>

    <form action="/led2on" method="POST">

        <label for="Led2 On"></label><br>

        <input type="submit" value="led2 on">

    </form>

    <form action="/led2off" method="POST">

        <label for="Led2 Off"></label><br>

        <input type="submit" value="led2 off">

    </form>

</body>

</html>
